{% extends 'admin/layout/base.html.twig' %}

{% block title %}
	{{ 'structure'|trans }}
{% endblock %}

{% block body %}

	<ul class="nav nav-tabs">
		<li class="nav-item active">
			<span class="nav-link active">
				<i class="fas fa-gavel text-danger"></i>
				{{ 'structures'|trans }}
			</span>
		</li>
	</ul>

	<div class="card mb-3">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table" style="background-color: #FFFFFF">
					<thead class="thead">
						<tr>
							<th>{{ 'Nom de la structure' | trans }}</th>
							<th>{{ 'Immatriculation' | trans }}</th>
							<th>{{ 'adresse' | trans }}</th>
							<th>{{ 'contact' | trans }}</th>
							<th>{{ 'email' | trans }}</th>
							<th>{{ 'Dossier' | trans }}</th>
							<th>{{ 'action' | trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for structure in structure %}
							<tr>
								<td>{{ structure.libelle }}</td>
								<td>{{ structure.NumeroRegisteDeCommerce }}</td>
								<td>{{ structure.adresse }}</td>
								<td>{{ structure.contact }}</td>
								<td>{{ structure.email }}</td>
								<td>
									<a href="{{('download/'~structure.documents~'.zip')}}" download>
										<i class="fa fa-file-pdf"></i>
									</a>
								</td>
								{% if structure.etat == 0 %}
									<td>
										{{ include('admin/gest_structure/_action_form.html.twig', {structure: structure}, with_context = false) }}
									</td>
								{% elseif structure.etat != 0 %}
									<td>
										{{ include('admin/gest_structure/_action_form.html1.twig', {structure: structure}, with_context = false) }}
									</td>
								{% endif %}
							</tr>
						{% else %}
							<tr>
								<td>{{ 'no_items_found' | trans }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}