{% extends 'admin/layout/base.html.twig' %}

{% block title %}
	{{ 'dashboard'|trans }}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-dark bg-white o-hidden h-100">
			<div class="card-body" style="background-color:#b22c07; color:white;">
				<div class="card-body-icon" style="color:white;">
					<i class="fa fa-city"></i>
				</div>
				<div class="mr-5">{{ 'Nombre de structure'|trans }}
					<span class="badge">{{ number_of_structure }}</span>
				</div>
			</div>
			<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_structures')}}">
				<span class="float-left btn btn-default" style="background-color:#b22c07; color:white;">{{ 'Détails'|trans }}</span>
				<span class="float-right">
					<i class="fas fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>

	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-dark bg-white o-hidden h-100">
			<div class="card-body" style="background-color:#404fea; color:white;">
				<div class="card-body-icon" style="color:white;">
					<i class="fa fa-warehouse"></i>
				</div>
				<div class="mr-5">{{ 'Nombre d\'agences'|trans }}
						<span class="badge">{{ number_of_agency }}</span>
					</div>
				</div>
				<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_agences')}}">
                    <span class="float-left btn btn-default" style="background-color:#404fea; color:white;">{{ 'Détails'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

        <div class="col-xl-3 col-sm-6 mb-3">
	        <div class="card text-dark bg-white o-hidden h-100">
            <div class="card-body" style="background-color:#807872; color:white;">
			<div class="card-body-icon" style="color:white;">
				<i class="fa fa-users"></i>
			</div>
			<div class="mr-5">{{ 'Nombre de locataires'|trans }}
                    <span class="badge">{{ nbr_of_tenant }}</span>
			</div>
				</div>
                <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_tenant')}}">
                    <span class="float-left btn btn-default" style="background-color:#807872; color:white;">{{ 'Détails'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                    <div class="card-body" style="background-color:#d75134; color:white;">
                    <div class="card-body-icon" style="color:white;">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="mr-5">{{ 'Nombre de propriétaires'|trans }}
                        <span class="badge">{{ nbr_of_owner }}</span>
                    </div>
                </div>
                <a class="card-footer text-dark clearfix small z-1" href="{{path('admin_owner')}}">
                    <span class="float-left btn btn-default" style="background-color:#d75134; color:white;">{{ 'Détails'|trans }}</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body" style="background-color:#159f5c; color:white;">
                    <div class="card-body-icon" style="color:white;">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="mr-5">{{ 'Nombre de biens'|trans }}
                        <span class="badge">{{ nbr_of_property }}</span>
                    </div>
                </div>
                    <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_TypeProperty')}}">
                    <span class="float-left btn btn-default" style="background-color:#159f5c; color:white;">{{ 'Détails'|trans }}</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>

		<div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body" style="background-color:#5ac9fc; color:white;">
                    <div class="card-body-icon" style="color:white;">
                        <i class="fa fa-exchange-alt"></i>
                    </div>
                    <div class="mr-5">{{ 'Nombre de transfèrements'|trans }}
                        <span class="badge">{{ nbr_of_transfer }}</span>
                    </div>
                </div>
                    <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_TypeTransfer')}}">
                    <span class="float-left btn btn-default" style="background-color:#5ac9fc; color:white;">{{ 'Détails'|trans }}</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>

		<div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
				<div class="card-body" style="background-color:#776662; color:white;">
                    <div class="card-body-icon" style="color:white;">
					<i class="fa fa-users"></i>
                    </div>
                    <div class="mr-5">{{ 'Nombre d\'utilisateur actif'|trans }}
					<span class="badge">{{ nbr_of_userAc }}</span>
				</div>
			</div>
			<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_TypeTransfer')}}">
				<span class="float-left btn btn-default" style="background-color:#776662; color:white;">{{ 'Détails'|trans }}</span>
				<span class="float-right">
					<i class="fas fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>

	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-dark bg-white o-hidden h-100">
			<div class="card-body" style="background-color:#b97872; color:white;">

				<div class="card-body-icon" style="color:white;">
					<i class="fa fa-users"></i>
				</div>
				<div class="mr-5">{{ 'Nombre d\'utilisateur non-actif'|trans }}
					<span class="badge">{{ nbr_of_NoUserAc }}</span>
					</div>
				</div>
				<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_TypeTransfer')}}">
					<span class="float-left btn btn-default" style="background-color:#b97872; color:white;">{{ 'Détails'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-dark bg-white o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-map-marker-alt"></i>
					</div>
					<div class="mr-5">{{ 'cities'|trans }}
						<span class="badge">{{ number_of_cities }}</span>
					</div>
				</div>
				<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_city') }}">
					<span class="float-left">{{ 'Details'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-dark bg-white o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-gavel"></i>
					</div>
					<div class="mr-5">{{ 'deal_types'|trans }}
						<span class="badge">{{ number_of_deal_types }}</span>
					</div>
				</div>
				<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_deal_type') }}">
					<span class="float-left">{{ 'Details'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-dark bg-white o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="far fa-fw fa-building"></i>
					</div>
					<div class="mr-5">{{ 'categories'|trans }}
						<span class="badge">{{ number_of_categories }}</span>
					</div>
				</div>
				<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_category') }}">
					<span class="float-left">{{ 'Details'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-dark bg-white o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="far fa-fw fa-file-alt"></i>
					</div>
					<div class="mr-5">{{ 'pages'|trans }}
						<span class="badge">{{ number_of_pages }}</span>
					</div>
				</div>
				<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_page') }}">
					<span class="float-left">{{ 'Details'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>

		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-dark bg-white o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-users-cog"></i>
					</div>
					<div class="mr-5">{{ 'users'|trans }}
						<span class="badge">{{ number_of_users }}</span>
					</div>
				</div>
				<a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_user') }}">
					<span class="float-left">{{ 'Details'|trans }}</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
